<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Main page</title>
    <link rel="stylesheet" href="http://htmlbook.ru/style/lion.css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body bgcolor="#c0c0c0" background="https://img3.goodfon.ru/original/1366x768/4/b6/tetrad-karandashi.jpg" bgproperties="fixed"></body>
<center>
<header>
   <div class="header-bg">
    <img src="https://cdn1.iconfinder.com/data/icons/book_mac/512/Address_Book.png" alt="Adress book"
              width="310" height="310">
   </div>
  </header>
    <div class="content-gradient">
        <div class="content-bg">
            <div class="content-white">
                <section>
                    <header><h1><a href='http://localhost:5000/user'>Adress book</a></h1></header>
                </section>
                <p>
                   Адресна книга призначена для зберігання різних відомостей про адресатів, які можуть легко використовуватися системою Microsoft Outlook Express. У цій книзі можна зберігати всі потрібні адреси електронної пошти, домашні та службові адреси, номери телефонів і факсів тощо. Якщо необхідно, можна внести на сторінку нотаток будь-яку додаткову інформацію. Адресна книга забезпечує також доступ до служб каталогів Інтернета, за допомогою яких можна вести пошук потрібних людей та організацій у мережі Інтернет.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <img src="https://www.shkolnaya-karta.ru/public/images/library_teachers/book.png" alt="" width="130" height="80" class="lion">
        <div class="footer-bg">
            <div class="copyright">
                <p><strong>Training Site - "PythonCore course"</strong></p>
                <p>&copy; Sereda Ihor</p>
            </div>
        </div>
    </footer>
</center>
</body>
</html>