<link rel="stylesheet" href="/static/css/style.css">
<div id="main">
    <div id="menu">
<a href='http://localhost:5000/'>main page</a> |
<a href='http://localhost:5000/user/add'>add user</a>
    </div>
<div id="content">
<table border>
  <tr>
    <th>id</th>
    <th>firstname</th>
    <th>lastname</th>
    <th>age</th>
  </tr>
    {% for user in users %}
        <tr>
            <th>{{ user.id }}</th>
            <th>{{ user.firstname }}</th>
            <th>{{ user.lastname }}</th>
            <th>{{ user.age }}</th>
			<th><a href='http://localhost:5000/user/{{ user.id }}/contact'>contacts</a></th>
            <th><a href='http://localhost:5000/user/{{ user.id }}/info'>info</a></th>
            <th><a href='http://localhost:5000/user/{{ user.id }}'>edit</a></th>
            <th><a href='http://localhost:5000/user/{{ user.id }}/delete' style='color:red'>delete</a></th>
        </tr>
    {% endfor %}
</table>
</dir>
</div>