<link rel="stylesheet" href="/static/css/style.css">
<div id="main">
    <div id="menu">
<a href='http://localhost:5000/'>main page</a> |
<a href='http://localhost:5000/user'>user list</a>
    </div>
{% from "_formhelpers.html" import render_field %}
<form method=post>
<div id="content">
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.firstname) }}
    {{ render_field(form.lastname) }}
	{{ render_field(form.email) }}
	{{ render_field(form.password) }}
    {{ render_field(form.age) }}
  </dl>
  <p><input type=submit value=Register>
</form>
</div>
</div>