<a href='http://localhost:5000/user/add'>add user</a><br>
<table>
    <tr>
        <td>
            <table border>
              <tr>
                <th>id</th>
                <th>firstname</th>
                <th>lastname</th>
                <th>age</th>
              </tr>
                {% for user in users %}
                    <tr>
                        <th>{{ user.id }}</th>
                        <th>{{ user.firstname }}</th>
                        <th>{{ user.lastname }}</th>
                        <th>{{ user.age }}</th>
                        <th><a href='http://localhost:5000/user/{{ user.id }}/info'>info</a></th>
                         <th><a href='http://localhost:5000/user/{{ user.id }}'>edit</a></th>
                        <th><a href='http://localhost:5000/user/{{ user.id }}/delete'>delete</a></th>
                    </tr>
                {% endfor %}
            </table>
        </td>
        <td>
            {% if profile %}
            <div>
                city: {{ profile.city }} <br>
                zip_code: {{ profile.zip_code }}
            </div>
            {% endif %}
        </td>
    </tr>
</table>